@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Akzidenz;
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/Akzidenz/AkzidenzGroteskPro-BoldEx.otf") format("opentype");
  }
  @font-face {
    font-family: Akzidenz;
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/Akzidenz/AkzidenzGroteskPro-Md.otf") format("opentype");
  }
  @font-face {
    font-family: Akzidenz;
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/Akzidenz/AkzidenzGroteskPro-Regular.otf")
      format("opentype");
  }
  html {
    font-family: Akzidenz, sistem-ui, sans-serif;
  }
}

@layer utilities {
  .bg-darkBackCol {
    background-color: #021526;
  }
  .text-lightCol {
    color: #ffe3d8;
  }
  .btn-darkCol {
    background-color: #03506f;
  }
}

@layer components {
  #app {
    @apply h-screen flex flex-col justify-center items-center dark:text-lightCol dark:bg-darkBackCol;
  }
  .primary-btn {
    @apply flex justify-center items-center bg-slate-200 enabled:hover:bg-slate-300 dark:btn-darkCol dark:enabled:hover:bg-sky-950 rounded-md font-medium px-5 py-2 disabled:opacity-20 disabled:cursor-not-allowed;
  }
  .logo {
    @apply text-2xl sm:text-4xl md:text-5xl font-bold;
  }
  .logo-sm {
    @apply text-xl;
  }
  .hangman-img {
    @apply w-32 h-32 sm:w-60 sm:h-60;
  }
  .placeholders-wrapper {
    @apply flex flex-row;
  }
  .word-placeholder {
    @apply mx-2 text-4xl;
  }
  .keyboard {
    @apply max-w-2xl flex flex-wrap mt-6 justify-center items-center;
  }
  .keyboard-btn {
    @apply w-11 h-11 sm:w-14 sm:h-14 m-1 sm:m-2;
  }
  .result-text {
    @apply text-3xl mt-4 font-bold;
  }
  .result-text.win {
    @apply text-lime-600;
  }
  .result-text.lose {
    @apply text-red-600;
  }
  .result-word-p {
    @apply text-xl mt-3;
  }
  .word {
    @apply font-medium uppercase;
  }
  .quit-btn {
    @apply border border-black dark:border-white rounded-md bg-transparent hover:bg-slate-200 mt-9 py-1 px-3 dark:hover:bg-cyan-950;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    color: white;
    padding: 5px;
    font-size: 10px;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .dropdown-content a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}
